aiohttp==3.9.5
aiohttp_socks==0.7.1
async_timeout==4.0.2
beautifulsoup4==4.12.3
country_converter==1.0.0
fake_useragent==0.1.11
fuzzywuzzy==0.18.0
geopandas==0.14.3
geopy==2.2.0
googlemaps==4.10.0
googletransx==2.4.2
pandas==2.2.2
pycountry==24.6.1
pymrio==0.5.4
rapidfuzz==3.6.1
requests==2.32.3
schedule==1.1.0
scikit_learn==1.5.0
scipy==1.10.1
setuptools==70.2.0
shapely==2.0.3
